body,html{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
#main{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    height: 270px;
    width: 500px;
    position: relative;    
    -webkit-filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.4));
    -moz-filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.4));
    -ms-filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.4));
    -o-filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.4));
    margin: 10px;
}
#target{
    position: relative;
    height: 210px;
    width: 500px;
    -webkit-mask-image: url(mask.svg);
    mask-image: url(mask.svg);
}

#bg{
    background-color: rgb(71, 83, 109);
    position: absolute;
    height: 210px;
    width: 500px;
    object-fit: cover;
    z-index: -1;
}
#bgDark{
    position: absolute;
    height: 210px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.65);
}
#title{
    position: absolute;
    left: 105px;
    width: max-content;
    max-height: 30px;
    overflow:hidden;
    transform: translate(400px);
    animation: slide 15s linear infinite;
}

@keyframes slide {
    0% {transform: translate(310px);}
    100% { transform: translate(-100%);; }
}
.currentPP{
    width: 100px;
    position: absolute;
    top: 35px;
    text-align: center;
    justify-content: center;
}
.ifFC{
    width: 100px;
    position: absolute;
    top: 35px;
    text-align: center;
    right: 0;
    justify-content: center;
}
#mapStatus{
    position: absolute;
    bottom: 5px;
    display: flex;
    justify-content: space-around;
    width: 500px;
    text-align: center;
}
#mapStatus hr{
    height: 5px;
    width: 80px;
    border-radius: 6px;
    border: none;
}
.status{
    line-height: 4px;
    width: calc(max-content + 100px);
}
#cs hr{
    background-color: #9C9236;
}
#ar hr{
    background-color: #4A9C36;
}
#od hr{
    background-color: #36849C;
}
#hp hr{
    background-color: #9C365B;
}
#state{
    background-color: #171717;
    z-index: -1;
    position: absolute;
    bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    width: 375px;
    margin-left: 62px;
    height: 45px;
    border-radius: 0 0 14px 14px;
    align-items: center ;
    transition: ease-in-out 500ms;
}
#mods{
    position: fixed;
    display: flex;
    bottom: 120px;
    right: 20px;
    justify-items: flex-end;
    margin-right: 25px;
}
.mod img{
    position: relative;
    height: 50px;
    width: 50px;
    z-index: 1;
    object-fit: cover;
    margin-right: -25px;
    -webkit-filter: drop-shadow( -5px 5px 5px rgba(0,0,0,0.7));
    -moz-filter: drop-shadow(-5px 5px 10px rgba(0,0,0,0.7));
    -ms-filter: drop-shadow(-5px 5px 10px rgba(0,0,0,0.7));
    -o-filter: drop-shadow(-5px 5px 10px rgba(0,0,0,0.7));
}
.text{
    display: flex;
    justify-content: center;
}