:root {
  --color1: #83A87C;
  --color2: #456255;
  --color-m-1: #5B7556;
  --color-m-2: #212F29;
  --color-l-1: #334231;
  --color-l-2: #0A0E0C;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::selection {
  background: #456255 !important;
}
html, body {
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  color: white;
  width: 1920px;
  height: 1080px;
  background: transparent;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}
.main {
    position: relative;
    width: 800px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0 6px 0 var(--color-l-1);
    overflow: hidden;
}

.map-info {
    position: relative;
    width: 100%;
    height: 200px;
}
.w100xh {
  width: 100%;
  height: 100%;
} 
.background img {position: relative;object-fit: cover;z-index: 0;}

.time, .star {
    position: absolute;
    font-size: .7rem;
    padding: 10px 20px;
    border-radius: 10px;
    z-index: 2;
}

.link {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.link i {
    font-size: 2rem;
    color: var(--color1);
    text-shadow: 0 1px 0 var(--color-m-1), 0 2px 0 var(--color-m-1), 0 3px 0 var(--color-m-1), 0 4px 0 var(--color-m-1), 0 0 20px rgba(0, 0, 0, .5);
}

.link span {position: relative;font-size: 2rem;color: white;text-shadow: 0 0.5px 0 #CCCCCC, 0 1px 0 #CCCCCC, 0 1.5px 0 #CCCCCC, 0 2px 0 #CCCCCC, 0 0 10px black;}

.link span:before {content: '';position: absolute;left: 0;bottom: -10px;width: 100%;height: 8px;background: var(--color1);border-radius: 100px;box-shadow: 0 1px 0 var(--color-m-1), 0 2px 0 var(--color-m-1), 0 3px 0 var(--color-m-1), 0 4px 0 var(--color-m-1), 0 0 15px rgba(0, 0, 0, .5);transition: all .3s;}

.background:before {content: '';position: absolute;top: 0;left: 0;right: 0;bottom: 0;background: linear-gradient(0deg, #00000000, rgba(0, 0, 0, .5));z-index: 1;}

.background {
    position: relative;
}
.play-info {
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    height: 100px;
    background: linear-gradient(-10deg, var(--color2), var(--color1));
    text-shadow: 0 1px 0 black, 0 2px 0 black;
}

.pp {
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    font-size: 1.2rem;
    width: 35%;
    height: 100%;
    margin-right: 5%;
}

.hits {
    display: flex;
    width: 60%;
}

.h100, .h50, .h0 {
    list-style-type: none;
}

.hits>* {
    position: relative;
    width: 33.3%;
}

.h100 li, .h50 li, .h0 li {
    text-align: center;
    font-size: .8rem;
}

.h100 li:nth-child(1), .h50 li:nth-child(1), .h0 li:nth-child(1) {
    color: #ffffff;
}

.h100 li:nth-child(2), .h50 li:nth-child(2), .h0 li:nth-child(2) {
    font-size: 1rem;
    color: white;
}
.pp:before {content: '';position: absolute;top: 0;right: 0;bottom: 0;width: 4px;background: var(--color-l-1);opacity: .2;}
.time {
    top: 10px;
    left: 20px;
    background: var(--color1);
    box-shadow: 0 6px 0 var(--color-m-1), 0 0 20px black;
}

.star {
    top: 10px;
    right: 20px;
    background: var(--color1);
    box-shadow: 0 6px 0 var(--color-m-1), 0 0 20px black;
}